@media only screen and (min-device-width: 480px) {
	.container{
		margin: 0 25%;
	}

	.mobile-hidden{
		display: block;
	}

	.desktop-hidden{
		display: none;
	}

  .header {
    background-image: url('assets/images/header-image-desktop.jpg');
  }

  .header-container{
		margin: 5% 0 0 50%;
	}

	.header-title div{
		font-size: 7vw;
		line-height: 0.85;
	}

	.header-intro{
		margin-bottom: 2vh;
		font-size: 1vw;
		width: 55%;

	}

	.header-indent{
		margin-left: 5vw;
	}

	.header-button button
	{
		background-color: #dcba7d;
		font-size: 1.2em;
		border-radius: 1vh;
		padding: 1vh 1vw;
		transition: all .3s ease-in-out;
		margin-top: 0;
	}

	.header-button
	{
		margin-top: 2.5vh;
	}

	.nav {
		height: 40px;
		padding: 0 30px;
	}

	.country-list
	{
		color: gray;
		display: none;
		font-family: 'open sans bold';
		text-transform: uppercase;
	}

	.country-list li
	{
		display: inline-block;
		margin: 0 0.2vw;
	}

	.country-list .active
	{
		color: #ffffff;
	}

	#progress-div{
    top: 40px !important;
  }

	.chapter-title{
		text-align: center;
	}

  .footer{
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: flex-end;
  }

  .quote-para{
  	position: relative;
  	width: 60%;
  }

  .quote-para .quote{
		  margin:0 40px;
  	position: absolute;
  	top: 0;
  	left: 100%;
  }

	.img-cluster
	{
		position: relative;
		width: 110%;
		right: 5%;
	}

	.float-left
	{
		margin-bottom: 10px;
		width: 60%;
	}

	.float-right
	{
		position: absolute;
		top: 0;
		right: 0;
		width: 39%

	}

	.img-cluster .caption
	{
		margin: 0 5%;
	}

  #geo-map-container{
  	width: 70vw;
		margin: 15px -10vw;
	}
}
