@media only screen and (min-device-width: 480px) {
	.container{
		margin: 0 25%;
	}

	.mobile-hidden{
		display: block;
	}

	.desktop-hidden{
		display: none;
	}

  .header {
    background-image: url('assets/images/header-image-desktop.jpg');
  }

  .header-container{
		margin: 5% 0 0 50%;
	}

	.header-title {
	padding-left: 0;
}

.header-title img {
	width: 40vw;
}

	.header-intro{
		margin-bottom: 2vh;
		font-size: 1vw;
		width: 55%;

	}

	.header-indent{
		margin-left: 5vw;
	}

	.header-button button
	{
		background-color: #dcba7d;
		font-size: 1.2em;
		border-radius: 1vh;
		padding: 1vh 1vw;
		transition: all .3s ease-in-out;
		margin-top: 0;
	}

	.header-button
	{
		margin-top: 2.5vh;
	}

	.nav {
		height: 40px;
		padding: 0 30px;
	}

	.country-list
	{
		color: gray;
		display: none;
		font-family: 'open sans bold';
		text-transform: uppercase;
		font-size: 0.8vw;

		position: relative;
	  height: auto;
	  width: auto;
	  background-color: transparent;
		top: auto;
		right: auto;
		padding: 0 2vw;
	}

	.country-list li
	{
		display: inline-block;
		margin: 0 0.5vw;
	}

	.country-list li a
	{
		color: gray;
		font-size: 0.8vw;
	}

	.country-list .active
	{
		color: #ffffff;
	}

	.dd-menu
	{
		width: 20vw;
		top: 40px;
		margin: 0 -30px 0 0;
		padding: 5vh 3vw;
	}

.dd-menu li
{
	margin: 5vh 0;
}

.dd-menu li img, .dd-menu li form
{
	margin-top: 1vh;
}

.menu-logo li
{
	margin: 0 1.5vw 0 0;
}


	#progress-div{
    top: 40px !important;
  }

	.chapter-title{
		text-align: center;
	}

	.bookmark{
		position: absolute;
		right: 0;
		bottom: 1vh;
		width: 20px;
		height: 30px;
		margin: 0;
	}



  .footer{
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: flex-end;
  }

  .quote-para{
  	position: relative;
  	width: 60%;
  }

  .quote-para .quote{
		  margin:0 40px;
  	position: absolute;
  	top: 0;
  	left: 100%;
  }

  #geo-map-container{
  	width: 70vw;
		margin: 15px -10vw;
	}

	.credits
	{
		margin-top: 10vh;
		text-align: center;
		border-top: #dcba7d solid 1px;
		padding-top: 5vh;
	}

	.credits h2
	{
		font-family: Open Sans bold;

  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: center;
  color: #dcba7d;
	text-transform: uppercase;
	}

	.credits h3
	{
		font-family: Open Sans bold;
		text-transform: uppercase;
  	font-weight: 800;
		line-height: 1;
		font-size: 15px;
		margin-bottom: 0;
	}

	.credits li
	{
		font-size: 13px;
	}

	.names {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;

	width: 70vw;
	margin: 0 0 0 -10vw;
	}

	.names .col
	{
		text-align: center;

	}

	.credits li
	{
			list-style: none;
	}


	.credits ul
	{
			padding: 0;
			margin-bottom: 3.5vh;
			margin-top: 5px;
	}

}
