#overlay{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

#overlay form {
	display: inherit;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;

	width: 40vw;
	background-color: #fff;
	padding: 10vh 10vw;
}

#overlay input[type="email"]{
	display: inherit;
	width: 80%;
	height: 5vh;
	padding: 0 1vw;
	max-width: 550px;
	line-height: 25px;
	background-color: #eaeaea;
	border: none;
	z-index: 1000;
}

#overlay button{
	display: inherit;
	color: #fff;
	padding: 2vh 2.5vw;
	margin: 20px;
	font-weight: bold;
	letter-spacing: 3.8px;
	text-transform: uppercase;
	border: solid 1px #3b3b3b;
  background-color: #3b3b3b;
	z-index: 1000;
}

#submit-message{
	display: inherit;
	font-size: 10px;
	color: red;
}
